<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <legend>Login</legend>
    <%= form_for(@user) do |f| %>
      <p><%= f.email_field :email, class: "form-control", placeholder: "Email" %></p>
      <p><%= f.password_field :password, class: "form-control", placeholder: "Password" %></p>
      <%= f.submit "Sign Up", class:"btn btn-primary" %>
    <% end %>    
  </div>
</div>

